* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif', 'poppins';
}

body {
    background: #002339;
    color: #fff;
}

.container {
    margin: 4% 12% 12% 12%;
    width: 90%;
    max-width: 700px;
}

.display {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 5px;
}

.container h1 {
    font-size: 45px;
    font-weight: 500;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.input-pass {
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img {
    width: 28px;
    margin-right: 10px;
}

.container button {
    width: 30%;
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

.generator {
    /* padding: 20px; */
    color: #019f55;
    max-width: 300px;
    border-radius: 10px;
}

.generator label {
    display: block;
    margin: 10px 0;
}

.error {
    color: red;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        /* margin: 4% 12% 12% 12%;
        width: 90%; */
        max-width: 600px;
    }
    .container button {
        width: 40%;
        }
  }

  @media (max-width: 767.98px) {
    .container {

      max-width: 80%;
    }
    .container button {
        width: 40%;
        }
  }

  @media (max-width: 440.98px) {
    .container {
        margin: 20px;
        /* width: 100%; */
      max-width: 80%;
    }
    .container h1 {
        font-size: 30px;
        font-weight: 500;
    }
    .input-pass {
        border: 0;
        outline: 0;
        font-size: 12px;
    }
    .display img {
        width: 15px;
        cursor: pointer;
    }
    .container button {
        width: 54%;
    }
  } 
